<!DOCTYPE html5>
<html>
    <head>
        <meta charset="UTF-8">
        <meta lang="en">
        <meta name="author" content="Ty Coghlan">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,">
        <meta name="description" content="{{description}}">
        <title>{{browser_title}}</title>
        {% for link in links %}
            {% if link.link_type == LinkType::Style %}
        <link href="{{link.name}}" rel="stylesheet">
            {% endif %}
        {% endfor %}
        {% for meta in metas %}
        <meta property="{{meta.name}}" content="{{meta.content}}">
        {% endfor %}
    </head>
    <body>
        <div id="content">
            <div id="header">
                <div class="nav">
                    <a href="/index.html">Home</a>
                    <a href="/about.html">About</a>
                    <a href="/gallery.html">Gallery</a>
                    <a href="https://github.com/ophirr33">GitHub</a>
                    <a href="https://linkedin.com/in/ty-coghlan">LinkedIn</a>
                    <a href="https://twitter.com/ophirr33">Twitter</a>
                </div>
            </div>
            <div id="title">
                <h1>{{title}}</h1>
                <p>{{subtitle}}</p>
            </div>
            <div id="body">
                {% block content %}{% endblock %}
            </div>
            <div id="footer">
                <div class="nav">
                    <p>Made with <a href="https://www.rust-lang.org/en-US/index.html">Rust</a>, fueled by ☕</p>
                    <a href="https://creativecommons.org/licenses/by/4.0/" id="copyright">
                        <p>© 2018 Ty Coghlan</p>
                    </a>
                </div>
            </div>
        <div>
        {% for link in links %}
            {% if link.link_type == LinkType::Script %}
        <script src="{{link.name}}"></script>
            {% endif %}
        {% endfor %}
    </body>
</html>
